<!-- Everything here goes inside of your <body></body> tags! -->

<div class="alignment">
<div class="container">
  <div class="header"><img src="https://sadgrl.online/images/lyts/not-mine/lets-frolick.jpg"></div>
  <div class="content-wrapper">
  <div class="content">
    <div class="left-content">
      <div class="padding">
      <h1>this is head one</h1>
         <p>This layout is based on <a href="https://www.createblog.com/website-templates/20022-lets-frolick/" target="_blank">Let's Frolick by mzkandi</a> on Createblog.</p>
      <h2>this is head two</h2>
        <p>It is responsive, which means it works on phones! Yeaaaaah!</p>
        <p class="removeThis">You can find the code to this layout <a href="https://codepen.io/sadness97/pen/NWadJXJ?editors=1100" target="_blank">here</a></p>
      <h3>this is head three</h3>
      <h4>this is head four</h4>
        <p>
          <strong>bold</strong>
          <em>italic</em>
          <u>Underline</u>
          </p>
      </div>
    </div>
    <div class="right-content">
        <ul class="nav">
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
          <li><a href="#">link</a></li>
      </ul>
      <div class="subtitle">Section</div>
      <p>You can put whatever you like here!</p>
       <div class="subtitle">Section</div>
      <p>You can put whatever you like here!</p>
       <div class="subtitle">Section</div>
      <p>You can put whatever you like here!</p>
       <div class="subtitle">Section</div>
      <p>You can put whatever you like here!</p>
  </div>
    <div class="footer">This layout was lovingly re-crafted by <a href="https://sadgrl.online/" target="_blank">sadgrl.online</a></div>
</div>
  </div>
  <div class="footer-img"><img src="https://sadgrl.online/images/lyts/not-mine/lets-frolick-2.jpg"></div>
</div>
</div>
