<!----- 
Thanks for using pretty guardian! feel free to change the colors and the content 
(without removing the credit, of course).
I'm not very good at coding yet, so it can be pretty messy. 
If you have any questions please let me know.
----->
<div class="card" style="background-color:#fff;color:#333;border:solid 6px ;border-color:#ff9999;border-radius:10;width:74%;">
<div class="card-inverse card-header" style="border:;background-color:#ff9999;border-radius:10;padding:.5%;color:#000;"><img src="https://i.imgur.com/RZlOuzB.png" style="width:25px; height:25px">
character name - paint
<div class="pull-right">
<div class="btn btn-sm" style="width:40px;background-color:#ff9999;color:#fff;border-radius:100;border:1px solid #000000;"><i class="fa fa-minus"></i></div>
<div class="btn btn-sm" style="width:40px;background-color:#ff9999;color:#fff;border-radius:100;border:1px solid #000000;"><i class="fa fa-window-restore"></i></div>
<div class="btn btn-sm" style="width:40px;background-color:#d90f37;color:#fff;border-radius:100;border:1px solid #000000;"><i class="fa fa-times"></i></div>
</div>
</div>
<div class="card" style="background-color:#f9faeb;border-radius:0;border-color:#c0c7c8;padding:.2%;height:25px;">
<div class="pull-left">
 <ul class="nav nav-tabs card-header-tabs row mb-1 mx-auto">
<li class="col-0 mb-1"><a class=" p-2 active" data-toggle="tab" href="#one" style="color:#000;">File</a></li>
<li class="col-0 mb-1"><a class=" p-2 " data-toggle="tab" href="#two" style="color:#000;">Edit</a></li>
<li class="col-0 mb-1"><a class=" p-2 " data-toggle="tab" href="#three" style="color:#000;">View</a></li>
<li class="col-0 mb-1"><a class=" p-2 " data-toggle="tab" href="#four" style="color:#000;">Image</a></li>
<li class="col-0 mb-1"><a class=" p-2 " data-toggle="tab" href="#five" style="color:#000;">Colors</a></li>
<li class="col-0 mb-1"><a class=" p-2 " data-toggle="tab" href="#six" style="color:#000;"> Help</a></li>
</ul>
</div>
</div>
<!----- End of the header ----->
<div class="row no-gutters">
    <div class="col-lg-1 p-0">
 
 
    <!---- toolbar, please don't move it or that will cause the code to break---->
    <div class="card rounded-0 border-2 bg-default" style="background:url(https://i.imgur.com/fJyoLQs.jpg) #BDBDBD center top no-repeat; background-size:120%;background-repeat:no-repeat;height:500px"></div>
</div>
<!----- End of the toolbar ----->
<div class="col p-0">
<div class="row no-gutters">
    <div class="col-lg-4 p-2">
 
 
    <!----The part inside the code starts here, the left-side image can be any size, you can also change the icons with fontawesome and if you don't want it to rotate, remove "fa-spin" and the duration of the animation ---->
    <div class="card rounded-10 border-1 bg-default" style="border:2px dashed #000;background:url(imglinkhere) #fff center top no-repeat; background-size:110%;background-repeat:no-repeat;height:220px">
<i class="fas fa-star fa-spin fa-2x" style="position:absolute;top:-10px;left:-10px;z-index:1;color:#ffa6c0;animation-duration:14s;"></i>
</div>
<i class="fas fa-star fa-spin fa-2x" style="font-size:40px;position:absolute;top:205px;left:210px;z-index:1;color:#fff6c0;animation-duration:9s;"></i>
<!----- middle image, you can change it to another text box ----->
<div class="card rounded-10 border-0 mt-2 p-2 text-center" style="background:url(https://i.imgur.com/HkeruBF.gif) #fff center top no-repeat; background-size:90%;background-repeat:no-repeat;height:70px;color:#999;" title="i´m a peach by King-lulu-deer"></div>
<!----- Quote ----->
    <div class="card rounded-10 border-0 mt-1 p-2 text-center" style="height:55px;overflow:auto;color:#999;">
 <div align="center">put a quote in here, u can remove the hearts if you want</div>
 <div align="center">
</div> 
 
    </div>
    </div>
<!----- End of the left side thing ----->    
    <div class="col-lg-8 p-2">
 
    <!---- Tab 1 ---->
    <div class="card rounded-3 border-0 p-2" style="height:355px;overflow:auto;color:#999;">
 
 
<div class="tab-content">
       <div class="tab-pane fade active show" id="one">
      <div class="card py-1 font-weight-light rounded-0 text-uppercase" style="letter-spacing:2px;color:#000;font-family:monospace;border-width:0 0 1px 0;">Stats and info</div>
 
                 <div class="row no-gutters">
 
                 <div class="col-lg-6 justify-content-between p-2">
        <span class="text-muted text-uppercase" style="letter-spacing:1px;">
        <i class="far fa-comment-dots"></i></span>
 
        <span class="text-right" style="font-family:monospace;">name</span></span>
    </div>
 
 
 
      <div class="col-lg-6 justify-content-between p-2">
        <span class="text-muted text-uppercase" style="letter-spacing:1px;">
        <i class="far fa-venus-mars"></i></span>
 
        <span class="text-right" style="font-family:monospace;">gender</span>
    </div>
 
 
    <div class="col-lg-6 justify-content-between p-2">
        <span class="text-muted text-uppercase" style="letter-spacing:1px;">
        <i class="far fa-calendar-alt"></i></span>
 
        <span class="text-right" style="font-family:monospace;">age</span>
    </div>
 
 
 
    <div class="col-lg-6 justify-content-between p-2">
        <span class="text-muted text-uppercase" style="letter-spacing:1px;">
        <i class="far fa-heart"></i></span>
 
        <span class="text-right"style="font-family:monospace;">sexuality</span>
    </div>
 
 
 
    <div class="col-lg-6 justify-content-between p-2">
        <span class="text-muted text-uppercase" style="letter-spacing:1px;">
        <i class="far fa-user"></i></span>
 
        <span class="text-right" style="font-family:monospace;">pronouns</span>
    </div>
 
 
 
    <div class="col-lg-6 justify-content-between p-2">
        <span class="text-muted text-uppercase" style="letter-spacing:1px;">
        <i class="far fa-cloud"></i></span>
 
        <span class="text-right" style="font-family:monospace;">location</span>
    </div>
 
 
 
<!-- ---- STats ---- -->
                            </div>
                            <div class="col-auto p-2 hidden-xs-down">
                                <div class="card h-100 rounded-0" style="border-width:0 1px 0 0"></div>
                            </div>
       <div class="row no-gutters">
 
                            <div class="col-sm">
 
                                <hr class="hidden-sm-up" style="margin:14px 4px;">
 
                                <div class="d-flex">
                                    <span class="w-50 p-1 text-truncate text-uppercase text-muted"style="font-family:monospace;">Patience</span>
                                    <div class="w-50 mx-1 progress my-auto rounded-0" style="height:4px;">
                                        <div class="progress-bar" style="
 
                                          width: 50%;
 
                                          background:#ffdbe2;"></div>
                                    </div>
                                </div>
 
                                <div class="d-flex">
                                    <span class="w-50 p-1 text-truncate text-uppercase text-muted" style="font-family:monospace;">Intelligence</span>
                                    <div class="w-50 mx-1 progress my-auto rounded-0" style="height:4px">
                                        <div class="progress-bar" style="
 
                                          width: 50%;
 
                                          background:#ffdbe2;"></div>
                                    </div>
                                </div>
 
                                <div class="d-flex">
                                    <span class="w-50 p-1 text-truncate text-uppercase text-muted" style="font-family:monospace;">Creativity</span>
                                    <div class="w-50 mx-1 progress my-auto rounded-0" style="height:4px">
                                        <div class="progress-bar" style="
 
                                          width: 50%;
 
                                          background:#ffdbe2;"></div>
                                    </div>
                                </div>
 
                                <div class="d-flex">
                                    <span class="w-50 p-1 text-truncate text-uppercase text-muted" style="font-family:monospace;">Confidence</span>
                                    <div class="w-50 mx-1 progress my-auto rounded-0" style="height:4px">
                                        <div class="progress-bar" style="
 
                                         width: 50%;
 
                                                  background:#ffdbe2;"></div>
                                    </div>
                                </div>
 
                                <div class="d-flex">
                                    <span class="w-50 p-1 text-truncate text-uppercase text-muted" style="font-family:monospace;">Wisdom</span>
                                    <div class="w-50 mx-1 progress my-auto rounded-0" style="height:4px">
                                        <div class="progress-bar" style="
 
                                         width: 50%;
 
                                         background:#ffdbe2;"></div>
                                    </div>
                                </div>
 
                                <div class="d-flex">
                                    <span class="w-50 p-1 text-truncate text-uppercase text-muted" style="font-family:monospace;">Empathy</span>
                                    <div class="w-50 mx-1 progress my-auto rounded-0" style="height:4px">
                                        <div class="progress-bar" style="
 
                                         width: 50%;
 
                                        background:#ffdbe2;"></div>
                                    </div>
                                </div>
 
                                <div class="d-flex mb-0">
                                    <span class="w-50 p-1 text-truncate text-uppercase text-muted" style="font-family:monospace;">Charisma</span>
                                    <div class="w-50 mx-1 progress my-auto rounded-0" style="height:4px">
                                        <div class="progress-bar" style="
 
                                         width: 50%;
 
                                         background:#ffdbe2;"></div>
                                    </div>
                                </div> </div> </div>
                                  <!----------> 
            <hr class="my-1">
 
       <div class="card py-1 font-weight-light rounded-0 text-uppercase text-right" style="letter-spacing:2px;color:#ffa6c0;font-family:monospace;border-width:0 0 0px 0;">Interests;</div>
 
                            <!-- there's no easy way to format this, forgive me haha -->
                            <span class="badge badge-pill m-1" style="background:#ffa1b3; letter-spacing:1px; font-size:12px; line-height:18px; font-weight:500;">
                                example
                            </span>
 
                            <span class="badge badge-pill m-1" style="background:#ffb3c2; letter-spacing:1px; font-size:12px; line-height:18px; font-weight:500;">
                                put
                            </span>
 
                            <span class="badge badge-pill m-1" style="background:#ffdbe2; letter-spacing:1px; font-size:12px; line-height:18px; font-weight:500;">
                                something
                            </span>
 
                            <span class="badge badge-pill m-1" style="background:#ffabbb; letter-spacing:1px; font-size:12px; line-height:18px; font-weight:500;">
                                in 
                            </span>
                            <span class="badge badge-pill m-1" style="background:#ff8fa5; letter-spacing:1px; font-size:12px; line-height:18px; font-weight:500;">
                                here
                            </span>
                            <span class="badge badge-pill m-1" style="background:#ff6684; letter-spacing:1px; font-size:12px; line-height:18px; font-weight:500;">
                                strawberrys
                            </span>
                            <span class="badge badge-pill m-1" style="background:#ffc7d2; letter-spacing:1px; font-size:12px; line-height:18px; font-weight:500;">
                                gardens
                            </span>
                            <span class="badge badge-pill m-1" style="background:#f7a1b2; letter-spacing:1px; font-size:12px; line-height:18px; font-weight:500;">
                                rainy days
                            </span>
                            <span class="badge badge-pill m-1" style="background:#ff96ab; letter-spacing:1px; font-size:12px; line-height:18px; font-weight:500;">
                                jojo content
                            </span>
                            <span class="badge badge-pill m-1" style="background:#ffcfd8; letter-spacing:1px; font-size:12px; line-height:18px; font-weight:500;">
                                pop music
                            </span>
                            <!-- add more above THIS line! -->
 
<hr class="my-1">
 <div class="card py-1 font-weight-light rounded-0 text-uppercase text-left" style="letter-spacing:2px;color:#ffa6c0;font-family:monospace;border-width:0 0 0px 0;">Likes and dislikes;</div>
   <div class="row no-gutters">
 
 
        <div class="col-6 p-1">
 
            <!---- Likes ---->
            <ul class="fa-ul my-2">
                  <li><span class="fa-li"><i class="far fa-heart"></i></span>like</li>
                  <li><span class="fa-li"><i class="far fa-heart"></i></span>like</li>
                  <li><span class="fa-li"><i class="far fa-heart"></i></span>like</li>
                  <li><span class="fa-li"><i class="far fa-heart"></i></span>like</li>
            </ul>
  </div>
 
 
        <div class="col-6 p-1">
            <!---- dislikes ---->
            <ul class="fa-ul my-2">
                  <li><span class="fa-li"><i class="far fa-heart-broken"></i></span>dislike</li>
                  <li><span class="fa-li"><i class="far fa-heart-broken"></i></span>dislike</li>
                  <li><span class="fa-li"><i class="far fa-heart-broken"></i></span>dislike</li>
                  <li><span class="fa-li"><i class="far fa-heart-broken"></i></span>dislike</li>
            </ul>
        </div>
         </div>
         </div>
     <!-------->
<div class="tab-pane fade" id="two">
        <div class="card py-1 font-weight-light rounded-0 text-uppercase text-center" style="letter-spacing:2px;color:#ffbeb3;font-family:monospace;border-width:0 0 0px 0;">Story...</div>
        <div class="col-sm-12 p-0 mt-1 mb-2 d-flex"><hr class="my-auto w-100">
<i class="fas fa-home-heart mx-2"></i></div>
<!----------------Story------------------------->
             <p class="p-1 text-justify rounded" style="background:#ffeae3;font-family:monospace;color:#999">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus lobortis condimentum varius. Praesent ac ligula eget nisi auctor euismod. Pellentesque egestas congue erat sed bibendum. Phasellus in arcu volutpat, scelerisque nibh a, ornare mauris. Nullam nec nulla ut enim sagittis cursus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque id velit pellentesque, vestibulum magna vel, ullamcorper dui. Donec scelerisque orci ex, sed accumsan est efficitur a. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed feugiat, ex eget lobortis auctor, ex sem semper nunc, non condimentum velit ipsum in risus. Vivamus vestibulum sagittis laoreet. Aliquam id laoreet sapien. Etiam sit amet varius libero. Morbi non dignissim ipsum. Fusce placerat volutpat felis a dictum.</p>
<div class="font-weight-light text-uppercase text-center mt-2" style="color:#ffbeb3;font-family:monospace;letter-spacing: 2px;">pretty nice...</div>
<div class="col-sm-12 p-0 mt-1 mb-2 d-flex"><hr class="my-auto w-100">
<i class="fas fa-box-heart mx-2"></i></div>
             <p class="p-1 text-justify rounded" style="background:#ffeae3;font-family:monospace;color:#999">Vestibulum sit amet interdum lectus, gravida condimentum felis. Curabitur bibendum mattis elit, id scelerisque dolor consequat vel. Vivamus pulvinar risus in vulputate molestie. Duis bibendum arcu dui, vel mattis augue dapibus vitae. Donec faucibus, lectus in rutrum venenatis, tellus mauris imperdiet diam, ut semper quam ex ac purus. Proin ligula massa, semper tincidunt gravida vel, posuere a urna. Donec accumsan venenatis scelerisque. Fusce porta mattis leo nec venenatis.</p>
 
            </div>
    <!-----Tab 3----->           
<div class="tab-pane fade" id="three">
 
 
 
 <div class="card py-2 font-weight-light rounded-0 text-uppercase text-left" style="letter-spacing:4px;color:#fb9fab;font-family:monospace;border-width:0 0 0px 0;">Design...</div>
           <table style="background-color: transparent;border:0;width: 100%;border-collapse: collapse;">
            <tr>
 
              	<!--Appearance image: can be any size-->
              <td style="padding: 0;text-align: center; width: 100px;">
                <img src="imghere" style="margin-right:10px;">
              </td>
 
 
              <!--wright the apperance of ur character here-->
              <td style="padding: 0 0 0 10px;vertical-align: top; text-align: justify;font-size: 11px;"><p class="p-1 text-justify rounded" style="background:#ffeae3;font-family:monospace;color:#999">
               Mauris id diam eu ex eleifend convallis ut vitae quam. Quisque nec auctor tellus, ut dictum sapien. Maecenas at venenatis mi, ullamcorper molestie metus. Nullam egestas felis id orci congue, eget dapibus urna posuere. Nulla faucibus eros at auctor eleifend. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus, sem sit amet molestie accumsan, dui metus pretium mauris, sit amet lacinia risus nisl eget magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
                </div>
<div align="center">                
<a href="https://www.deviantart.com/diegovainilla/art/pink-heart-big-591683781" class="emoticon" data-embed-type="emoticon" data-embed-id="591683781" data-embed-profile="deviation">
<img src="https://orig00.deviantart.net/83bf/f/2017/152/e/d/big_pink_heart_by_diegovainilla-d9s9u4l.gif" alt="pink heart {big}" style="width:15px;height:15px"></a>
<a href="https://www.deviantart.com/diegovainilla/art/pink-heart-big-591683781" class="emoticon" data-embed-type="emoticon" data-embed-id="591683781" data-embed-profile="deviation">
<img src="https://orig00.deviantart.net/83bf/f/2017/152/e/d/big_pink_heart_by_diegovainilla-d9s9u4l.gif" alt="pink heart {big}" style="width:15px;height:15px"></a>
<a href="https://www.deviantart.com/diegovainilla/art/pink-heart-big-591683781" class="emoticon" data-embed-type="emoticon" data-embed-id="591683781" data-embed-profile="deviation">
<img src="https://orig00.deviantart.net/83bf/f/2017/152/e/d/big_pink_heart_by_diegovainilla-d9s9u4l.gif" alt="pink heart {big}" style="width:15px;height:15px"></a></div> 
<p class="p-1 text-justify rounded" style="background:#ffeae3;font-family:monospace;color:#999">
               Phasellus fringilla mattis nunc, a pretium sem venenatis non. Etiam semper ultrices urna, in placerat nisl blandit a. Vivamus enim erat, tempor vitae sagittis sed, aliquet ut nulla. Curabitur diam metus, hendrerit a sollicitudin vitae, tincidunt eu elit. Maecenas scelerisque sodales eros id facilisis. Donec eget ultrices erat, eu vehicula tortor. Donec eu vehicula tortor, viverra rhoncus orci. Nam consequat nisi nulla, in eleifend enim placerat in.
 
 
              </td>
 
            </tr> 
               <!---------->
            <tr style="background: transparent;">
              <td style="padding: 0;text-align: justify;font-size: 11px;" colspan="2">
 
                <!--PALETTE-->
                <div align="right">
                <div style="height:60px;vertical-align: top;line-height: 60px;">
 
                  <span style="background:#FEE40A;padding: 4px 28px;margin-right: 14px;">
 
                  </span>
                  <!--And it ends here.-->
                  <span style="background:#EBD4C7;padding: 4px 28px;margin-right: 13px;">
 
                  </span>
                  <span style="background:#E2EDEC;padding: 4px 28px;margin-right: 15px;">
 
                  </span>
                  <span style="background:#E1C7CF;padding: 4px 28px;margin-right: 15px;">
 
                  </span>
                  <span style="background:#B5B6D7;padding: 4px 28px;margin-right: 1px;">
 
                  </span>
                </div>
                </div>
 <div class="row no-gutters">
        <!-------->
    <div class="col-lg-6 p-1">
        <!---- design notes---->
        <div class="card py-1 font-weight-light rounded-0 text-uppercase text-center" style="letter-spacing:2px;color:#fb9fab;font-family:comic sans ms;border-width:0 0 0px 0;">Design notes</div>
         <ul>
        <li>Important note.</li>    
        <li>Important note.</li>    
        <li>Important note.</li>    
        <li>Important note.</li>
        </ul>
        </div>
 
    <div class="col-lg-6 p-1">
        <!---- Do and do not ---->
        <div class="card py-1 font-weight-light rounded-0 text-uppercase text-center" style="letter-spacing:2px;color:#fb9fab;font-family:comic sans ms;border-width:0 0 0px 0;">Do/Do not</div>
 
        <div class="d-flex">
            <span class="w-50  text-muted">Do this</span>
            <span class="w-50 text-right">not this</a></span></div>
 
        <div class="d-flex">
            <span class="w-50  text-muted">Do this</span>
            <span class="w-50 text-right">not this</a></span></div>
 
 
        <div class="d-flex">
            <span class="w-50  text-muted">Do this</span>
            <span class="w-50 text-right">not this</a></span></div>
 
       <div class="d-flex">
            <span class="w-50  text-muted">Do this</span>
            <span class="w-50 text-right">not this</a></span></div> 
    </div>
 
 
 
</div>
 
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
<!-----Tab 4----->    
  <div class="tab-pane fade" id="four">
        <div class="card py-1 font-weight-light rounded-0 text-uppercase text-center" style="letter-spacing:2px;color:#fb9fab;font-family:monospace;border-width:0 0 0px 0;">Relationships</div>
 
<div class="row no-gutters mt-1">
 
    <!------- relationship! #1 -------->
    <div class="col-4 p-1">
 
        <!--- image: the size of the square will change depending on the size of the image --->
        <img src="imghere" class="rounded-circle p-2 rounded-0 bg-faded" style="border:2px dashed #fb9fab">
 
    </div>
 
    <div class="col-8 p-1">
        <!---- Name, relationship and links, feel free to add more if u want ---->
        <div class="d-flex" style="letter-spacing:2px;">
 
 
 
            <span class=" py-1 text-left" style="font-family:monospace;color:#999">
              <span class="badge badge-pill m-1" style="background:#ffa1b3; letter-spacing:1px; font-size:12px; line-height:18px; font-weight:500;">
                               name 
                            </span>   
                         <span class="badge badge-pill m-1" style="background:#ff708c; letter-spacing:1px; font-size:12px; line-height:18px; font-weight:500;">
                                relationship
                            </span>    
                            <a href="linkhere"><span class="badge badge-pill m-1" style="background:#ffdee4; letter-spacing:1px; font-size:12px; line-height:18px; font-weight:500;">link uwu
                            </span></a>
            </span></div>
 
        <hr class="my-0">
 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dolor nisi, congue non porta id, vulputate a quam. Class aptent taciti sociosqu ad litora. 
    </div>
 
 
<!------- relationship! #2 -------->
    <div class="col-4 p-1">
 
        <img src="imghere" class="rounded-circle p-2 rounded-0 bg-faded" style="border:2px dashed #fb9fab">
 
    </div>
 
    <div class="col-8 p-1">
        <!---- name,relationship,links ---->
       <span class=" py-1 text-left" style="font-family:monospace;color:#999">
              <span class="badge badge-pill m-1" style="background:#bafab4; letter-spacing:1px; font-size:12px; line-height:18px; font-weight:500;">
                               name
                            </span>   
                         <span class="badge badge-pill m-1" style="background:#bafab4; letter-spacing:1px; font-size:12px; line-height:18px; font-weight:500;">
                                relationship
                            </span>    
                           <a href="linkhere"><span class="badge badge-pill m-1" style="background:#ffdee4; letter-spacing:1px; font-size:12px; line-height:18px; font-weight:500;">link uwu
                            </span></a>
        </span>
        <hr class="my-0">
 
        Phasellus lobortis condimentum varius. Praesent ac ligula eget nisi auctor euismod. Pellentesque egestas congue erat sed bibendum. 
    </div>
 
<!------- relationship! #3 -------->
    <div class="col-4 p-1">
 
        <img src="imghere" class="rounded-circle p-2 rounded-0 bg-faded" style="border:2px dashed #fb9fab">
 
    </div>
 
    <div class="col-8 p-1">
        <!---- name,relationship,links ---->
       <span class=" py-1 text-left" style="font-family:monospace;color:#999">
              <span class="badge badge-pill m-1" style="background:#b3d5ff; letter-spacing:1px; font-size:12px; line-height:18px; font-weight:500;">
                               name
                            </span>   
                         <span class="badge badge-pill m-1" style="background:#b3c8ff; letter-spacing:1px; font-size:12px; line-height:18px; font-weight:500;">
                                relationship
                            </span>    
                           <a href="linkhere"><span class="badge badge-pill m-1" style="background:#ffdee4; letter-spacing:1px; font-size:12px; line-height:18px; font-weight:500;">link uwu
                            </span></a>
        </span>
        <hr class="my-0">
 
        Phasellus in arcu volutpat, scelerisque nibh a, ornare mauris. Nullam nec nulla ut enim sagittis cursus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque id velit pellentesque, vestibulum magna vel, ullamcorper dui. Donec scelerisque orci ex, sed accumsan est efficitur a. 
    </div>
 
 
 
 
   <!----- Add more relationships above this line!!!! -----> 
</div>
</div>
<!------- Tab 5 -------->
<div class="tab-pane fade" id="five">
 <div class="card col-12 p-1 text-center" style="background:url(imgherelink);border:2px dashed #fff;font-weight: 100;letter-spacing: 5px; color: white; text-shadow: 0 0 0px black; white-space: nowrap; overflow: hidden; height: 100%">    
<div class="row no-gutters mt-2 mb-0">
      <div class="col-1 p-1">
 
  <a class="p-0 mt-2 btn btn-outline-dark melody-embed" style="border:0;position:relative;height:1.5rem;width:1.5rem;z-index:2;color:#fff;">
 
<!---- playlist ID -- it's the code on the end of your playlist link that starts with PL ----->
     <iframe style="opacity:.02;position:absolute;left:0;right:0;top:0;bottom:0;" class="h-100 w-100"
      src="
 
      https://www.youtube.com/embed/videoseries?list=PL6g-otkGU2XOIZfM29OdomxC0pWAc1lxt
 
      " frameborder="0"></iframe>
      <i class="fas fa-play fa-fw fa-2x" style="z-index:-1;position:absolute;left:0;top:0;font-size:1rem;text-align:center;height:100%;width:100%;"></i>
      </a></div>
 
      <!--- line --->
      <div class="col-6 p-1">
      <hr class="mt-3 p-1">  </div>
 
 
      <!--- SONG INFO --->
      <div class="col-5 p-1 text-center mt-1">
 
      <!--- PLAYLIST CAROUSEL --->
 
      <div id="carousel1" class="carousel slide mx-auto p-0 mb-0" data-ride="carousel" style="color:#000;font-family:monospace;">
  <div class="carousel-inner">
    <!---- SONG INFO ---->
    <div class="carousel-item active text-truncate">
       Sailormoon Moonlight Densetsu  - SilverStrike
    </div>
 
    <!---- SONG INFO ---->
    <div class="carousel-item text-truncate">
      Moonlight Densetsu Lo-fi remix- Patrick Moon Bird 
    </div>
 
    <!---- SONG INFO ---->
    <div class="carousel-item text-truncate">
      Dream - clumby
    </div>
 
<!---- SONG INFO ---->
    <div class="carousel-item text-truncate">
      confusion - jinsang
    </div>
    <!--- put more songs before this line --->
  </div>
  </div>
  </div>
  </div>
  </div>
<!------- Trivia-------->
 <div class="card py-3 font-weight-light rounded-0 text-uppercase text-center" style="letter-spacing:2px;color:#fb9fab;font-family:monospace;border-width:0 0 0px 0;">trivia</div>
 <ul class="fa-ul pl-4 m-0">
 
    <li class="mb-2" style="font-family:monospace;"><span class="fa-li"><i class="fal fa-heart" style="color: #999;"></i></span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus lobortis condimentum varius. Praesent ac ligula eget nisi auctor euismod. Pellentesque egestas congue erat sed bibendum.</li>
 
    <li class="mb-2" style="font-family:monospace;"><span class="fa-li"><i class="fal fa-heart" style="color: #999;"></i></span>Phasellus in arcu volutpat, scelerisque nibh a, ornare mauris. Nullam nec nulla ut enim sagittis cursus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque id velit pellentesque, vestibulum magna vel, ullamcorper dui.</li>
 
    <li class="mb-2" style="font-family:monospace;"><span class="fa-li"><i class="fal fa-heart" style="color: #999;"></i></span> Donec scelerisque orci ex, sed accumsan est efficitur a. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </li>
 
    <li class="mb-2" style="font-family:monospace;"><span class="fa-li"><i class="fal fa-heart" style="color: #999;"></i></span> Sed feugiat, ex eget lobortis auctor, ex sem semper nunc, non condimentum velit ipsum in risus. Vivamus vestibulum sagittis laoreet. </li>
 
  </ul>
  </div>
  <!-------  tab 6. itinerary -------->
<div class="tab-pane fade" id="six">
<div class="card py-3 font-weight-light rounded-0 text-uppercase text-center" style="letter-spacing:2px;color:#fb9fab;font-family:monospace;border-width:0 0 0px 0;">itinerary</div>
    <hr class="my-2" style="border-top: 2px dashed #FFADB1;">
<div class="row no-gutters m-1">
<div class="col-4 p-1">
<div class="rounded p-0" style="background:tranparent;">
<div class="rounded" style="background:url(imglinkhere) center;background-size:cover;padding-top:100%;"></div>
</div>
</div>
<div class="col-4 p-1">
<div class="rounded p-0" style="background:tranparent;">
<div class="rounded" style="background:url(imglinkhere) center;background-size:cover;padding-top:100%;"></div>
</div>
</div>
<div class="col-4 p-1">
<div class="rounded p-0" style="background:tranparent;">
<div class="rounded" style="background:url(imglinkhere) center;background-size:cover;padding-top:100%;"></div>
</div>
</div>
<div class="col-4 p-1">
<div class="rounded p-0" style="background:tranparent;">
<div class="rounded" style="background:url(imglinkhere) center;background-size:cover;padding-top:100%;"></div>
</div>
</div>
<div class="col-4 p-1">
<div class="rounded p-0" style="background:tranparent;">
<div class="rounded" style="background:url(imglinkhere) center;background-size:cover;padding-top:100%;"></div>
</div>
</div>
<div class="col-4 p-1">
<div class="rounded p-0" style="background:tranparent;">
<div class="rounded" style="background:url(imglinkhere) center;background-size:cover;padding-top:100%;">
</div>
</div>
</div>
</div>
 
    </div></div></div></div>
<div class="col-12 p-0">
 
 
    <!----bottom  picture, please don't edit it or the code will be broke ---->
    <div class="card rounded-0 border-0 bg-default" style="background:url(https://i.imgur.com/v0bDCfU.jpg) #BDBDBD no-repeat;background-size:98%;background-repeat:no-repeat;width:731px;height:127px;position:relative;right:1px;top:1px;"></div>
</div>
</div>
</div>
</div>
</div>
<!----CREDITS PLEASE DO NOT REMOVE ---->
<div class="card" style="background-color:#FFFFFF;color:#333;border:solid 4px;border-color:#ff9999;border-radius:0;position:relative;left:780px;top:-180px;width:30%;font-family:arial;">
<div class="card-inverse card-header" style="background-color:#ff9999;border-radius:0;padding:.7%;color:#000;"><img src="https://www.ecured.cu/images/thumb/2/2a/Notepad.png/150px-Notepad.png" style="width:20px; height:20px">
credits - Notepad
<div class="pull-right">
<div class="btn btn-sm" style="background-color:#ff9999;color:#000;border-radius:2;border:0px solid #000000;"><i class="fa fa-minus"></i></div>
<div class="btn btn-sm" style="background-color:#ff9999;color:#000;border-radius:4;border:0px solid #000000;"><i class="fa fa-window-restore"></i></div>
<div class="btn btn-sm" style="background-color:#de2a4e;color:#000;border-radius:2;border:0px solid #000000;"><i class="fa fa-times"></i></div>
</div>
</div>
<div class="card" style="background-color:#faebee;border-radius:0;border-color:#c0c7c8;padding:.5%;height:22px;"><div class="pull-left"><pre class="tab" style="font-family:arial;color:#322;">File    Edit    Format   View   Help </pre></div></div>
<div class="container p-0" style="max-width: 350px; font-size: 12px;border:1px solid #91b0ff;">
  <div class="card bg-white rounded-0 p-0">
    <div class="row no-gutters bg-white">
 
      <div class="col-12 p-0">
        <div class="card rounded-0 p-0">
</div>
</div> 
      <div class="col-4 p-1">
        <div class="card rounded-0 border-0 p-0" style="height:117px;">
 
          <!----- avatar -- image can be any size, just make sure the subject is in the middle ----->
          <div class="card h-100 w-100 rounded-0 border-0" style="
          background: url(https://64.media.tumblr.com/2e606b232d5c7da516bfc7cd357549f0/tumblr_p0hysrFG8X1uaogmwo2_400.png);
          background-size: cover;
          background-position: center;">
          <!---------->
          </div>
        </div>
      </div>
<div class="col-8 p-1">
        <div class="card rounded-0 border-0 p-1 px-2" style="height: 127px; overflow: scroll;">
<div class=" text-center" style="height:120px;color:#999;font-family:monospace;color:#fb9fab">
 
    thanks for using Pretty guardian!! 
<a href=https://toyhou.se/corsalus" class="tooltipster" data-embed-type="emoticon"><img src="https://thumbs.gfycat.com/CavernousConcernedAtlanticbluetang-small.gif" alt="folder pink {big}" title="code by omeletto" style="width:35px;height:28px"></a>     
hope u enjoyed my code, sorry for the messyness btw.
<div align="center">
<a href="https://www.deviantart.com/diegovainilla/art/pink-heart-big-591683781" class="emoticon" data-embed-type="emoticon" data-embed-id="591683781" data-embed-profile="deviation">
<img src="https://orig00.deviantart.net/83bf/f/2017/152/e/d/big_pink_heart_by_diegovainilla-d9s9u4l.gif" alt="pink heart {big}" style="width:15px;height:15px"></a>
<a href="https://www.deviantart.com/diegovainilla/art/pink-heart-big-591683781" class="emoticon" data-embed-type="emoticon" data-embed-id="591683781" data-embed-profile="deviation">
<img src="https://orig00.deviantart.net/83bf/f/2017/152/e/d/big_pink_heart_by_diegovainilla-d9s9u4l.gif" alt="pink heart {big}" style="width:15px;height:15px"></a>
<a href="https://www.deviantart.com/diegovainilla/art/pink-heart-big-591683781" class="emoticon" data-embed-type="emoticon" data-embed-id="591683781" data-embed-profile="deviation">
<img src="https://orig00.deviantart.net/83bf/f/2017/152/e/d/big_pink_heart_by_diegovainilla-d9s9u4l.gif" alt="pink heart {big}" style="width:15px;height:15px"></a></div>  
</div>
</div> 
</div>
</div>
